<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ items['Report Title'] }} {{ items['Current Date'] }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <style>
        body {background-color: black}
        .row {margin-top:12px;
              padding-bottom:12px}

        .container {background-color: darkgray;
                    margin-top:12px;
                    padding-bottom:12px}
        .h1, .h2 {color: aliceblue}
    </style>
</head>
<body>
<div class="container" style="text-align: center;">
    <p class="h1">{{ items['Report Title'] }} {{ items['Current Date'] }}</p>
</div>

<div class="container">
    <p class="h2">Month Forecast: {{ items['Forecast'] }} ({{items['Forecast Percentage']}})</p>
</div>

<div class="container">
    <p class="h2">Accounts Latest Final Daily Costs</p>
    <div class="row">
        {% for k,v in items['Account Cost'].items() -%}
        <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{ k }}</h5>
                    <p class="card-text">{{ v }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<div class="container">
    <p class="h2">Monthly Cost</p>
    {{ items['charts']['Monthly Cost'] }}
    <div class="row">
        <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{ "Min" }}</h5>
                    <p class="card-text">{{ items["Monthly Total Cost Min"] }}</p>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{ "Max" }}</h5>
                    <p class="card-text">{{ items["Monthly Total Cost Max"] }}</p>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{ "Mean" }}</h5>
                    <p class="card-text">{{ items["Monthly Total Cost Mean"] }}</p>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{ "Total" }}</h5>
                    <p class="card-text">{{ items["Monthly Total Cost Total"] }}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <p class="h2">Daily Cost</p>
    {{ items['charts']['Daily Cost'] }}
    <div class="row">
        <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{ "Min" }}</h5>
                    <p class="card-text">{{ items["Daily Total Cost Min"] }}</p>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{ "Max" }}</h5>
                    <p class="card-text">{{ items["Daily Total Cost Max"] }}</p>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{ "Mean" }}</h5>
                    <p class="card-text">{{ items["Daily Total Cost Mean"] }}</p>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{ "Total" }}</h5>
                    <p class="card-text">{{ items["Daily Total Cost Total"] }}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <p class="h2">Services Cost</p>
    {{ items['charts']['Services Cost'] }}
</div>

{% for k,v in items['tags'].items() -%}
<div class="container">
    <p class="h2">{{ k }}</p>
    {{ v }}</div>
{% endfor %}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>

</body>
</html>