<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ items['Report Title'] }} {{ items['Current Date'] }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        body {background-color: black}
        .row {margin-top:12px;
              padding-bottom:12px}

        .container {background-color: darkgray;
                    margin-top:12px;
                    padding-bottom:12px;
                    max-width: 1600px}
        .h1, .h2 {color: aliceblue}
    </style>

    <script type="text/javascript">
        function collapse() {
            $('#servicesDailyCollapse').collapse()
        }
    </script>
</head>
<body onload="collapse()">
<div style="text-align: center;">
    <p class="h1">{{ items['Report Title'] }} {{ items['Current Date'] }}</p>
</div>

<div class="container">
    <p class="h2">Month Forecast: {{ items['Forecast'] }} ({{items['Forecast Percentage']}})</p>
</div>

<div class="container">
    <p class="h2">Accounts Latest Final Daily Cost ({{ items['Last Final Date'] }})</p>
    <div class="row">
        {% for k,v in items['Account Cost'].items() -%}
        <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{ k }}</h5>
                    <p class="card-text">{{ v }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<div class="container">
    <p class="h2">Monthly Cost</p>
    {{ items['charts']['Monthly Cost'] }}
    <div class="row">
        <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{ "Min" }}</h5>
                    <p class="card-text">{{ items["Monthly Total Cost Min"] }}</p>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{ "Max" }}</h5>
                    <p class="card-text">{{ items["Monthly Total Cost Max"] }}</p>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{ "Mean" }}</h5>
                    <p class="card-text">{{ items["Monthly Total Cost Mean"] }}</p>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{ "Total" }}</h5>
                    <p class="card-text">{{ items["Monthly Total Cost Total"] }}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <p class="h2">Daily Cost</p>
    {{ items['charts']['Daily Cost'] }}
    <div class="row">
        <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{ "Min" }}</h5>
                    <p class="card-text">{{ items["Daily Total Cost Min"] }}</p>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{ "Max" }}</h5>
                    <p class="card-text">{{ items["Daily Total Cost Max"] }}</p>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{ "Mean" }}</h5>
                    <p class="card-text">{{ items["Daily Total Cost Mean"] }}</p>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{ "Total" }}</h5>
                    <p class="card-text">{{ items["Daily Total Cost Total"] }}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <p class="h2">Services Cost</p>
    <div id="accordion">
        <div class="card">
            <div class="card-header" id="servicesTotalCard">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#servicesTotalCollapse"
                            aria-expanded="true" aria-controls="servicesTotalCollapse">
                        Top
                    </button>
                </h5>
            </div>

            <div id="servicesTotalCollapse" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                    {{ items['charts']['Top Services'] }}
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="servicesDailyCard">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse"
                        data-target="#servicesDailyCollapse" aria-expanded="false" aria-controls="servicesDailyCollapse">
                        Daily
                    </button>
                </h5>
            </div>
            <div id="servicesDailyCollapse" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body">
                    {{ items['charts']['Services Cost'] }}
                </div>
            </div>
        </div>
    </div>
</div>

{% for k,v in items['tags'].items() -%}
<div class="container">
    <p class="h2">{{ k }}</p>
    {{ v }}</div>
{% endfor %}


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>